
  table {
    margin-left: 25%;
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: left;
    overflow: hidden;
    margin-bottom: 10%;
    width:50%;
  }
  table thead {
    box-shadow: 0 5px 10px #e1e5ee;
  }
  table th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }
  table td {
    padding: 1rem 2rem;
  }
  table a {
    text-decoration: none;
    color: #2962ff;
  }
  table .status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
  }
  table .status-pending {
    background-color: #fff0c2;
    color: #a68b00;
  }
  table .status-paid {
    background-color: #c8e6c9;
    color: #388e3c;
  }
  table .status-unpaid {
    background-color: #ffcdd2;
    color: #c62828;
  }
  table .amount {
    text-align: right;
  }
  table tr:nth-child(even) {
    background-color: #f4f6fb;
  }
  
  
form{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px dashed black;
}
form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: blue;
  font-family: Arial;
}
form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
form button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #black;
  transition: all .2s ease;
  outline: none;
}
form button:hover{
  background: #149174;
	color: #0C5645;
}
form button:active{
  border:0;
}